<div class="col-md-3">
	<div class="pay_notice">		
		Noticia de pago
	</div>
	<!-- últimas provinciales -->
	<% if user_signed_in? %>
	Noticias de mi provincia
	<% @provincial.each do |pl| %>
	<div class="normal_notice">
		<%= pl.title.to_s %>
		<%= image_tag pl.image.url, size: '50x50' %>
	</div>
	<% end %>
	<% end %>
	<!-- últimas nacionales -->
	<% @national.each do |nl| %>
	Noticias de mi nación
	<div class="normal_notice">
		<%= nl.title.to_s %>
		<%= link_to nl do %>
		<%= image_tag nl.image.url, size: '50x50' %>
		<% end %>
	</div>	
	<% end %>
</div>	
<div class="col-md-3">
	<div class="pay_notice">		
		Noticia de pago
	</div>

	<!-- últimas regionales -->
	
	<% if user_signed_in? %>
	<% @regional.each do |rl| %>
	Noticias de mi región
	<div class="normal_notice">
		<%= rl.title.to_s %>
		<%= image_tag rl.image.url, size: '50x50' %>
	</div>	
	<% end %>
	<% end %>
	<!-- últimas nacionales -->	
	<% @national.each do |nl| %>
	Noticias de mi nación
	<div class="normal_notice">
		<%= nl.title.to_s %>
		<%= image_tag nl.image.url, size: '50x50' %>
	</div>	
	<% end %>
</div>