<h1>Lista de noticias</h1>

<table class="table">
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Subcategoría</th>
      <th>Provincia</th>
      <th>Encabezado</th>
      <th>Cuerpo</th>
      <th>Fecha</th>
      <th>Imagen</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @news_all.each do |news| %>
      <tr>
        <td><%= news.user.username %></td>
        <td><%= news.sub_category.name %></td>
        <td><%= news.province.name %></td>
        <td><%= news.title %></td>
        <td><%= news.body %></td>
        <td><%= news.date_time %></td>
        <td><%= image_tag(news.image.url, size: '50x50') %></td>
        <td><%= news.status %></td>
        <td><%= link_to 'Show', news %></td>
        <td><%= link_to 'Edit', edit_news_path(news) %></td>
        <td><%= link_to 'Destroy', news, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New News', new_news_path %>
