<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @new.user.username %>
</p>

<p>
  <strong>Categoría:</strong>
  <%= @new.sub_category.category.name unless @new.sub_category.nil? %>
</p>

<p>
  <strong>Subcategoría:</strong>
  <%= @new.sub_category.name unless @new.sub_category.nil? %>
</p>

<p>
  <strong>Región:</strong>
  <%= @new.province.region.name unless @new.province.national? %>
  <%= 'Noticia nacional' if @new.province.national? %>
</p>

<% unless @new.province.national? %>
<p>
  <strong>Province:</strong>
  <%= @new.province.name %>
</p>
<% end %>

<p>
  <strong>Encabezado:</strong>
  <%= @new.title %>
</p>

<p>
  <strong>Cuerpo:</strong>
  <%= @new.body %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @new.date_time %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @new.image.url, size: '50x50 ' %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @new.status %>
</p>

<%= link_to 'Edit', edit_news_path(@new) %> |
<%= link_to 'Back', news_index_path %>
