<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @new.user %>
</p>

<p>
  <strong>Subcategory:</strong>
  <%= @new.sub_category %>
</p>

<p>
  <strong>Province:</strong>
  <%= @new.province %>
</p>

<p>
  <strong>Title:</strong>
  <%= @new.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @new.body %>
</p>

<p>
  <strong>Date time:</strong>
  <%= @new.date_time %>
</p>

<p>
  <strong>Image:</strong>
  <%= @new.image %>
</p>

<p>
  <strong>Status:</strong>
  <%= @new.status %>
</p>

<%= link_to 'Edit', edit_news_path(@new) %> |
<%= link_to 'Back', news_index_path %>
