<!DOCTYPE html>
<html>
<head>
	<title>Dunngu</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>

	<div class="row">
		<div class="col-md-5">

		</div>
		<div class="col-md-2">
			<%= link_to root_path do %>
			<%= image_tag('dunngu.png') %>
			<% end %>
		</div>	
		<div class="col-md-5">
			<%= render 'devise/menu/login_items' %>
			<% if user_signed_in? %>
			<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#sdfsdfsdf">
				Crear noticia
			</button>
			<div class="modal fade" id="sdfsdfsdf" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">Modal title</h4>
						</div>
						<div class="modal-body">
							<%= render 'news/new' %>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary">Save changes</button>
						</div>
					</div>
				</div>
			</div>
			<% end %>
		</div>
	</div>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<div class="row">
					<div class="col-md-8">
						navnavnavnavnavnavnavnavnav
					</div>
					<div class="col-md-4">
						<%= form_tag(search_path, method: 'get') do %>
						<%= text_field_tag :search, '', placeholder: 'Sección y/o Provincia o Región', class: 'form-control' %>
						<% end %>
					</div>
				</div>

			</div>
		</div>
	</nav>
	<%= yield %>
	
</body>
</html>
