<!DOCTYPE html>
<html>
<head>
	<title>Dunngu</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>

	<div class="row">
		<div class="col-md-5">

		</div>
		<div class="col-md-2">
			<%= image_tag('dunngu.png') %>
		</div>	
		<div class="col-md-5">
			<h2>Log in</h2>
			<% resource = User.new %>
			<% resource_name = :user %>
			<% devise_mapping = Devise.mappings[:user] %>
			<%= form_for(resource, url: session_path(resource_name)) do |f| %>
			<div class="field">
				<%= f.label :email, 'Email' %><br />
				<%= f.email_field :email, autofocus: true %>
			</div>

			<div class="field">
				<%= f.label :password, 'Contraseña' %><br />
				<%= f.password_field :password, autocomplete: "off" %>
			</div>
			<div class="field">
				<%= f.check_box :remember_me %>
				<%= f.label :remember_me, 'Recordarme' %>
			</div>

			<div class="actions">
				<%= f.submit "Ir" %>
			</div>
			<% end %>

			<%= link_to 'crear cuenta', new_registration_path(:user) %>

		</div>
	</div>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<div class="row">
					<div class="col-md-8">
						navnavnavnavnavnavnavnavnav
					</div>
					<div class="col-md-4">
						<%= form_tag(search_path, method: 'get') do %>
						<%= text_field_tag :search, '', placeholder: 'Sección y/o Provincia o Región', class: 'form-control' %>
						<% end %>
					</div>
				</div>

			</div>
		</div>
	</nav>
	<%= yield %>
</body>
</html>
